@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    overflow: hidden!important;
}

.txt_image {
    /* margin-left: 20px; */
    margin: 7px 23px;
    width: 15px;
    height: 17px;
}

.logo_image {
    width: 80px;
    height: 17px;
}

.toolbar_alignment {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 50px;
    // box-shadow: 0px -16px 14px 9px rgb(49 31 31);
}

.mat-tab-header {
    border-bottom: none!important;
}

.logout_image {
    position: absolute;
    right: 41px;
    top: 13px;
    height: 30px;
}

.dropdown_image {
    position: absolute;
    right: 23px;
    height: 30px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.box {
    width: 90%;
    height: 90%;
    background-color: white;
}

.border_box {
    background-color: #f3f3f4;
    height: 10rem;
}

.txt_drag {
    /* width: 162px; */
    /* height: 29px; */
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: center;
    color: #0d0c22;
    /* position: relative;
    top: 45px; */
}

.txt_drag_commanname {
    width: 162px;
    height: 29px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: center;
    color: #0d0c22;
    /* position: relative; */
    /* top: 35px; */
}

.txt_heading {
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: center;
    color: #0d0c22;
    position: relative;
    top: -31px;
    left: 20px;
}

.dropzone_commonname {
    height: 8rem;
    background-color: #f3f3f4;
    position: relative;
    top: 17px;
    left: 17px;
    background-color: #f3f3f4;
    margin-top: 5px;
    width: 97%;
}

.txt_imagescommonname {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: left;
    color: #6e6d7a;
    margin-left: 15px;
}

table {
    width: 100%;
}

.btn_addimage {
    width: 120px;
    height: 33px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background-color: #224dff;
    margin: auto;
}

.btn_addimage_commanimage {
    width: 120px;
    height: 33px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background-color: #224dff;
    margin: auto;
}


/* .btn_addimage1 {
    width: 136px;
    height: 33px;
    margin-left: -80%;
    padding: 4px 26px 3px;
    border-radius: 4px;
    background-color: #224dff;
    margin: auto;
} */

.txt_addimage {
    width: 104px;
    height: 29px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    margin-top: 6px;
}

.btn_addnewForm {
    height: 38px;
    margin-top: 6px;
    box-shadow: none;
}

.txt_new {
    width: 104px;
    height: 29px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: center;
    color: #0d0c22;
}

.drop-container {
    width: 40%;
    height: 46%;
    border-radius: 6px;
    border: 2px dashed #717386;
}

.drop_container_commonname {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 2px dashed #717386;
}

.drop_container_header {
    width: 30%;
    height: 100%;
    border-radius: 6px;
    border: 2px dashed #717386;
}

.drop_container_description {
    width: 30%;
    height: 63px;
    border-radius: 6px;
    border: 2px dashed #717386;
}

.drop_container_attachment {
    width: 100%;
    height: 63px;
    border-radius: 6px;
    border: 2px dashed #717386;
    margin-top: 10px;
}

.btn_addattachment {
    width: 178px;
    height: 33px;
    padding: 4px 26px 3px;
    border-radius: 4px;
    background-color: #224dff;
}

.fabbox {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* box-shadow: 0 2px 11px 0 #264dff; */
    background-color: #264dff;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 99;
}

.fabbox4 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* box-shadow: 0 2px 11px 0 #264dff; */
    background-color: #264dff;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 99;
    position: relative;
    left: 31%;
    bottom: 32px;
}

.fabbox1 {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid white;
    background-color: blue;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 99;
}

#fab1 {
    position: fixed;
    left: 3.5%;
    top: 23%;
}

.image_hover {
    opacity: 50%;
}

.border_plusrow {
    border-bottom: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    height: 38px;
    position: relative;
    top: -7px;
}

.flex {
    flex: 1 1 auto;
}

.scrollable {
    overflow: auto;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.form-control::placeholder {
    font-weight: 600;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: left;
    color: #0d0c22;
    font-family: 'poppins' !important;
}

.dropzone_description {
    height: 4rem;
    background-color: #f3f3f4;
    position: relative;
    width: 26%;
    float: right;
}

.dropzone_attachment {
    height: 4rem;
    background-color: #f3f3f4;
    position: relative;
    float: right;
    width: 46vh;
}

.txt_attachment {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    margin-left: 12px;
    letter-spacing: normal;
    text-align: left;
    color: #0d0c22;
}

.txt_add {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    margin-left: 29px;
    letter-spacing: normal;
    text-align: left;
    color: white;
    position: relative;
    top: 20px;
    align-self: baseline;
}

.txt_q1 {
    width: 26px;
    height: 29px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: left;
    color: #0d0c22;
}

.box_netprompter_score {
    width: 37px;
    height: 34px;
    border: 1px solid #f3f3f3;
    text-align: center;
    cursor: pointer;
}

.netbox_inside {
    width: 6px;
    height: 29px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: center;
    color: #0d0c22;
    position: relative;
    top: 3px;
}

.txt_table {
    width: 56px;
    height: 29px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: left;
    color: #0d0c22;
}

::ng-deep.mat-tab-label,
 ::ng-deep.mat-tab-label-active {
    min-width: 90px!important;
    width: 56px;
    height: 29px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: left;
    color: #0d0c22;
}

::ng-deep.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: black;
}

::ng-deep.mat-tab-nav-bar,
::ng-deep.mat-tab-header {
    border-bottom: none!important;
}

.txt_page1 {
    width: 56px;
    height: 29px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: left;
    color: #0d0c22;
}

.txt_adddate {
    color: #254bf8;
    width: 56px;
    height: 29px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    position: relative;
    top: 4px;
}

.txt_more {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.0;
    letter-spacing: normal;
    text-align: left;
    color: white;
}

.txt_more_heading {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.0;
    letter-spacing: normal;
    text-align: left;
    color: #0d0c22;
}

::ng-deep .mat-menu-panel {
    background-color: #224dff;
}

.box_filesadd {
    width: 80px;
    height: 80px;
    background-color: #dedede;
    margin-left: 2%;
}

.removeicon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 73%;
}

.removeicon_header {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 41%;
    /* position: relative;
    top: 44px; */
}

.removeicon_imagescomman {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 41%;
    /* position: relative;
    top: 44px; */
}

.form-check-input {
    position: relative;
    left: -9px;
}

.boxx {
    display: flex;
    gap: 10px;
    position: relative;
    left: 13px;
    bottom: 29px
}


/* #fab {
    position: fixed;
    left: 93%;
    top: 90%;
} */