<!-- <mat-sidenav-container style="background-color:white;">
    <mat-sidenav mode="side" opened style="background-color: #121214;position: fixed; ">
        <mat-nav-list style="width: 10vh;">

            <div fxLayout="column" (click)="addnew()" fxLayoutAlign="center center" style="cursor: pointer;" [ngClass]="{'highlight': highlightflag == true}">
                <img src="../../assets/addicon.png" class="image">
                <a style="color: #aba4a4; font-size:x-small;margin-top: 6px;margin-left: 13px; ">add-new</a>

            </div>
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlex="98">
        <div style="display: flex;justify-content: center;margin: 20px;cursor: pointer;">

            <p class="col-12 box_untitledform">

                <span style="margin-top: 10px;">
                    <editable (save)="update()" (cancel)="cancel()">

                        <ng-template viewMode>{{ value }}</ng-template>

    
                        <ng-template editMode>
                            <input class="form-control" editableOnEnter editableOnEscape [formControl]="control" style="margin-top: -4px;" />
                          </ng-template>
                    </editable>
                </span>


            </p>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">

            <div style="margin: 20px;cursor: pointer;" (click)="btn_addnew()" [ngClass]="{'reducedsize': btn_addnewflag == false,'increasedsize': btn_addnewflag == true}">
                
                <img src="../../assets/addicon.png" class="addbtn_image_default"> &nbsp;&nbsp;<span *ngIf="!btn_addnewflag" style="color: white;">Addnew</span>
                <button mat-raised-button *ngIf="btn_addnewflag">
                <img src="../../assets/radio_btn.png" class="btn_image"> &nbsp;&nbsp;choice</button>
                <button mat-raised-button *ngIf="btn_addnewflag" style="margin-left: 5px;" (click)="btn_text()">
                <img src="../../assets/text.png" class="btn_image"> &nbsp;&nbsp;Text</button>
                <button mat-raised-button *ngIf="btn_addnewflag" style="margin-left: 5px;">
                <img src="../../assets/rating.png" class="btn_image"> &nbsp;&nbsp;Rating</button>
                <button mat-raised-button *ngIf="btn_addnewflag" style="margin-left: 5px;">
                <img src="../../assets/date.png" class="btn_image"> &nbsp;&nbsp;Date</button>
               
            </div>


        </div>
        <div class="box">

            <form fxLayout="row" fxLayoutAlign="space-around center" *ngIf="btn_textflag">
                <editable (save)="update()" (cancel)="cancel()">

                    <ng-template viewMode>{{ lastName }}</ng-template>
                    <ng-template editMode>
                        <input class="form-control" editableOnEnter editableOnEscape [formControl]="control" style="margin-top: -4px;" />
                    </ng-template>
                </editable>

                <div style="background-color: #f5f5f5;display: flex;justify-content: center;" *ngFor="let item of txtadd; index as i">
                    <div class="form-group" class="col-12" style="font-weight: bold;margin-top: 20px;">
                        <div fxLayout="row">
                            {{i+1}}.

                            <img src="../../assets/delete.png" style="float:right" (click)="deleteicon(i+1)" class="deleteicon">


                        </div>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" (ngModelChange)="lastNameChanged($event)" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" placeholder="Question">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="margin-top: 5px;margin-bottom: 20px;" readonly placeholder="Enter your answer">
                        <div style="float:right">
                            <mat-slide-toggle style="font-size: 15px;margin-bottom: 20px;">Required</mat-slide-toggle>
                        </div>
                        <button mat-button (click)="save()">Save</button>
                    </div>
                </div>
               
            </form>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->







<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div style="width: 100%;">
    <mat-toolbar class="toolbar_alignment" fxLayout="row" fxLayout="row" fxLayoutAlign="space-between center">
        <img src="../../assets/dynamic/logo.png" class="logo_image">
        <div class="txt_dynamic" style="color:#254bf8;font-size: 15px;font-weight: 600;font-family: Poppins;"> Dynamic Form</div>
        <div>
            <img src="../../assets/dynamic/logout_photo.jpg" class="logout_image">
            <mat-icon class="dropdown_image">arrow_drop_down</mat-icon>
        </div>

    </mat-toolbar>

    <div fxLayout="row" fxLayout="row" fxLayoutAlign="space-between center" style="border-bottom: none;">
        <div fxLayout="row">
            <mat-checkbox hidden="true" #selectAfterAdding> Select tab after adding </mat-checkbox>
            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
                    <!-- Contents for {{tab}} tab -->

                    <!-- <button mat-raised-button class="example-delete-tab-button" [disabled]="tabs.length === 1" (click)="removeTab(index)">
                Delete Tab
              </button> -->
                </mat-tab>
            </mat-tab-group>

            <button mat-raised-button class="btn_addnewForm" (click)="addTab(selectAfterAdding.checked)">
            <span class="txt_new">+ New</span>
          </button>
            <!-- <mat-tab-group mat-align-tabs="start" style="width: 90%;margin-left: 30px;">
            <mat-tab label="Page 1 "></mat-tab>
            <mat-tab label="+ New"></mat-tab>


        </mat-tab-group> -->
        </div>
        <div style="position:relative;right:20px">
            &nbsp;
            <img src="../../assets/dynamic/preview.svg">&nbsp; <span class="txt_page1">Preview</span>
        </div>
    </div>
    <mat-sidenav-container style="background-color: #f3f3f4;">

        <mat-sidenav class="example-sidenav-container" mode="side" fxLayout="column" fxLayoutAlign="space-around center" opened style="background-color: #264dff;position: fixed;width: 15vh;
        margin-top: 112px;height: 80vh;
    border-radius: 3px;">
            <!-- <div id="fab1" class="fabbox1"> -->
            <img src="../../assets/dynamic/Add_icon.svg" style="position: absolute;top: 10%;left: 44.5%; width: 55px">
            <!-- </div> -->
            <span class="txt_add">ADD</span>

            <div style="background-color: white;width: 10vh;margin-left: 13px;margin-right: 10px;margin-top: 20px;">


                <mat-nav-list fxLayout="column" fxLayoutAlign="space-around center">
                    <img src="../../assets/dynamic/title.svg" class="txt_image" matTooltip="Title" matTooltipPosition="right" hover-class="image_hover" style="margin-top: 35px;">
                    <img src="../../assets/dynamic/image.svg" class="txt_image" matTooltip="Image" matTooltipPosition="right" hover-class="image_hover">
                    <img src="../../assets/dynamic/text.svg" class="txt_image" matTooltip="Text" matTooltipPosition="right" hover-class="image_hover">
                    <img src="../../assets/dynamic/choice.svg" class="txt_image" matTooltip="Choice" matTooltipPosition="right" hover-class="image_hover">
                    <img src="../../assets/dynamic/check_box.svg" class="txt_image" matTooltip="Check Box" matTooltipPosition="right" hover-class="image_hover">
                    <img src="../../assets/dynamic/timing.svg" class="txt_image" matTooltip="Timing" matTooltipPosition="right" hover-class="image_hover">
                    <img src="../../assets/dynamic/date.svg" class="txt_image" matTooltip="Date" matTooltipPosition="right" hover-class="image_hover">
                    <img src="../../assets/dynamic/attachment.svg" class="txt_image" matTooltip="Attachment" matTooltipPosition="right" hover-class="image_hover">
                    <img src="../../assets/dynamic/rating.svg" class="txt_image" matTooltip="Rating" matTooltipPosition="right" hover-class="image_hover">
                    <img src="../../assets/dynamic/net_promter_score.svg" class="txt_image" matTooltip="Net Promter Score" matTooltipPosition="right" hover-class="image_hover">
                    <img src="../../assets/dynamic/table.svg" class="txt_image" matTooltip="Table" matTooltipPosition="right" hover-class="image_hover">
                    <img src="../../assets/dynamic/likert.svg" class="txt_image" matTooltip="Likert" matTooltipPosition="right" hover-class="image_hover">
                    <img src="../../assets/dynamic/selection.svg" class="txt_image" matTooltip="Selection" matTooltipPosition="right" hover-class="image_hover">
                </mat-nav-list>
            </div>
        </mat-sidenav>
        <mat-sidenav-content style="background-color:#f3f3f4;">
            <div style="height: 84vh;overflow-y: scroll;">
                <mat-card style="margin: 20px;margin-left:90px;margin-right:90px;box-shadow: none;" class="flex">
                    <div>
                        <div class="border_box" fxLayout="row" fxLayoutAlign="space-between center">
                            <span class="txt_heading">Heading Text</span>

                            <input type="file" accept="image/*" #fileInput style="display: none;" (change)="handleFileInput($event)">
                            <div fxLayout="row" fxLayoutAlign="space-evenly center" class="drop_container_header" ngFileDrop (uploadOutput)="onUploadOutput($event)">
                                <div *ngIf="flagupload" fxLayout="row" fxLayoutAlign="space-around center">


                                    <div style="text-align: center;" class="txt_drag">{{filename}}</div>
                                    <div *ngIf="flagupload">
                                        <img src="../../assets/dynamic/sign-delete-icon.png" class="removeicon_header" (click)="remove() ">
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="space-around center">
                                    <span *ngIf="!flagupload" class="txt_drag" style="position: relative;bottom: 6px;"> Drag and drop or</span>
                                    <div class="btn_addimage" (click)="fileInput.click()">
                                        <span class="txt_addimage">Add Image</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Images Common Name -->
                        <div style="margin-top: 20px;">
                            <span class="txt_imagescommonname">1.Images Common Name</span>
                            <div style="background-color:#f3f3f4;height: 10rem;">
                                <input type="file" accept="image/*" #commonnamefileInput style="display: none;" (change)="commonnameFileInput($event)">
                                <div class="drop_container_commonname" fxLayout="row" fxLayoutAlign="space-around center" ngFileDrop (uploadOutput)="commonnameUploadOutput($event)">
                                    <div *ngIf="commonflagupload" fxLayout="row" fxLayout="space-around center">
                                        <div style="text-align: center;" class="txt_drag">{{commonfilename}}</div>
                                        <div *ngIf="commonflagupload">
                                            <img src="../../assets/dynamic/sign-delete-icon.png" class="removeicon_imagescomman" (click)="commonnameremove() ">
                                        </div>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="space-around center">
                                        <span *ngIf="!commonflagupload" class="txt_drag_commanname"> Drag and drop or</span>
                                        <div class="btn_addimage_commanimage" (click)="commonnamefileInput.click()">
                                            <span class="txt_addimage">Add Image</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Description -->

                        <div style="margin-top: 20px;">
                            <span class="txt_imagescommonname">2.Description</span>
                            <div style="background-color:#f3f3f4;margin-top: 7px;">
                                <input type="file" accept="image/*" #descriptionfileInput style="display: none;" (change)="descriptionFileInput($event)">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <span class="txt_attachment">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                                    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="drop_container_description" ngFileDrop (uploadOutput)="DescriptionUploadOutput($event)">
                                        <div *ngIf="descriptionflagupload" fxLayout="row" fxLayoutAlign="space-around center">
                                            <div style="text-align: center;" class="txt_drag">{{descriptionfilename}}</div>
                                            <div *ngIf="descriptionflagupload">
                                                <img src="../../assets/dynamic/sign-delete-icon.png" class="removeicon_header" (click)="descremove() ">
                                            </div>
                                        </div>
                                        <div fxLayout="column" fxLayoutAlign="space-around center">

                                            <div class="btn_addimage" (click)="descriptionfileInput.click()">
                                                <span class="txt_addimage">Add Image</span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Table name -->
                        <div style="margin-top: 20px;">
                            <span class="txt_imagescommonname">3.Table Name</span>
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="box-shadow: none;border: 1px solid #f3f3f3;margin-top: 7px;">


                                <ng-container matColumnDef="position">
                                    <th mat-header-cell *matHeaderCellDef style="background-color: #f3f3f3;">
                                        <div class="txt_table">Sl.No
                                        </div>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                </ng-container>


                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef style="background-color: #f3f3f3;">
                                        <div class="txt_table">Name
                                        </div>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="weight">
                                    <th mat-header-cell *matHeaderCellDef style="background-color: #f3f3f3;">
                                        <div class="txt_table"> Weight </div>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="symbol">
                                    <th mat-header-cell *matHeaderCellDef style="background-color: #f3f3f3;">
                                        <div class="txt_table"> Symbol </div>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                </ng-container>
                                <ng-container matColumnDef="addicon">
                                    <th mat-header-cell *matHeaderCellDef style="background-color: #f3f3f3;">
                                        <div id="fab" class="fabbox">
                                            <img src="../../assets/dynamic/add.png" style="width:16px;cursor: pointer;">
                                        </div>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.addicon}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <div class="border_plusrow">
                                <div id="fab" class="fabbox" style="position: relative;left: 50%;margin-top: 10px;">
                                    <img src="../../assets/dynamic/add.png" style="width:16px;cursor: pointer;">
                                </div>
                            </div>

                        </div>
                    </div>
                </mat-card>
                <mat-card style="margin: 20px;margin-left:90px;margin-right:90px;box-shadow: none;" class="flex">

                    <!-- choice -->
                    <div style="margin-top: 20px;">
                        <span class="txt_imagescommonname">4. Choice</span>
                        <div style="background-color:#f3f3f4;margin-top: 7px;">
                            <input type="file" accept="image/*" #choicefileInput style="display: none;" (change)="choiceFileInput($event)">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span class="txt_attachment">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                                <div fxLayout="row" fxLayoutAlign="space-evenly center" class="drop_container_description" ngFileDrop (uploadOutput)="choiceUploadOutput($event)">
                                    <div *ngIf="choiceflagupload" fxLayout="row" fxLayoutAlign="space-around center">
                                        <div style="text-align: center;" class="txt_drag">{{choicefilename}}</div>
                                        <div *ngIf="choiceflagupload">
                                            <img src="../../assets/dynamic/sign-delete-icon.png" class="removeicon_header" (click)="choiceremove() ">
                                        </div>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="space-around center">
                                        <div class="btn_addimage" (click)="choicefileInput.click()">
                                            <span class="txt_addimage">Add Image</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="margin-left: 20px;">
                            <form [formGroup]="SubTagFormGroup">
                                <div formArrayName="DynamicFields" *ngFor="let d of getPhonesFormControls();let k = index;">
                                    <!-- <div class="form-check" style="margin-top: 20px;" >
                                    <input class="form-check-input" style="margin-top: 14px;" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <input class="form-control" placeholder="Add Option" style="width: 30%;" />
                                </div> -->

                                    <div class="form-check" style="margin-top: 10px;" [formGroupName]="k">
                                        <!-- <input class="form-check-input" style="margin-top: 14px;" type="radio" name="radio" id="radio" value="option1" checked> -->
                                        <div style="display: flex;gap: 10px;">
                                            <input autocomplete="off" class="form-control" style="width: 30%;" placeholder="Add Option" />

                                        </div>
                                    </div>
                                </div>
                                <div id="fab" class="fabbox4" (click)="addItem()">
                                    <img src="../../assets/dynamic/add.png" style="width:16px;cursor: pointer;">
                                </div>
                            </form>

                            <!-- <form [formGroup]="SubTagFormGroup" style="width: 100%;">
                                <div fxLayout="column" fxLayoutAlign="space-between center" style="padding-top: 15px;width: 65%;
                        margin-left: 65px;" formArrayName="DynamicFields" *ngFor="let d of getPhonesFormControls();let k = index;">
                                  
                                    <div [formGroupName]="k">

                                        <input autocomplete="off" matInput formControlName="name" style="width: 100%;height: 30px; padding: 9px 0px 8px 28px;
                            border-radius: 4px;
                            border: solid 1px #ced7e3;
                            background-color: #ffffff;" placeholder="Enter Sub Tag">

                                    </div>

                                 
                                </div>
                                <img style="float: right;
                            margin-top: -33px;" (click)="addItem()" src="assets/images/Add_subtag.svg">
                            </form> -->
                        </div>


                        <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-left: 15px;margin-top: 20px;">
                            <div fxLayout="row" fxLayoutGap="10px">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                    <label class="custom-control-label txt_attachment" for="customSwitch1">Multiple Answers</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                    <label class="custom-control-label txt_attachment" for="customSwitch2">Required Answers</label>
                                </div>
                            </div>
                            <div>
                                <button class="txt_more_heading" style="height: 30px;" mat-button [matMenuTriggerFor]="menu">More ...</button>
                                <mat-menu #menu="matMenu">
                                    <button class="txt_more" mat-menu-item>Shuffle Options</button>
                                    <button class="txt_more" mat-menu-item>Drop Down</button>
                                    <button class="txt_more" mat-menu-item>Sub-Title</button>
                                </mat-menu>
                            </div>
                        </div>
                    </div>
                    <!-- checkbox -->

                    <div style="margin-top: 20px;">
                        <span class="txt_imagescommonname">5.Check Box</span>
                        <div style="background-color:#f3f3f4;margin-top: 7px;">
                            <input type="file" accept="image/*" #checkboxfileInput style="display: none;" (change)="checkboxFileInput($event)">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span class="txt_attachment">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                                <div fxLayout="row" fxLayoutAlign="space-evenly center" class="drop_container_description" ngFileDrop (uploadOutput)="checkboxUploadOutput($event)">
                                    <div *ngIf="checkboxflagupload" fxLayout="row" fxLayoutAlign="space-around center">


                                        <div style="text-align: center;" class="txt_drag">{{checkboxfilename}}</div>
                                        <div *ngIf="checkboxflagupload">
                                            <img src="../../assets/dynamic/sign-delete-icon.png" class="removeicon_header" (click)="checkboxremove() ">
                                        </div>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="space-around center">

                                        <div class="btn_addimage" (click)="checkboxfileInput.click()">
                                            <span class="txt_addimage">Add Image</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-check" style="margin-top: 20px;margin-left: 20px;">
                            <input class="form-check-input" type="checkbox" style="margin-top: 14px;" value="" id="defaultCheck1">
                            <div class="boxx">
                                <input class="form-control" style="width: 30%;" placeholder="Add Option" />

                            </div>
                        </div>
                        <div class="form-check" style="margin-top: 20px;margin-left: 20px;">
                            <input class="form-check-input" type="checkbox" style="margin-top: 14px;" value="" id="defaultCheck1">
                            <div class="boxx">
                                <input class="form-control" style="width: 30%;" placeholder="Add Option" />
                                <div id="fab" class="fabbox">
                                    <img src="../../assets/dynamic/add.png" style="width:16px;cursor: pointer;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Date -->


                    <div style="margin-top: 20px;">
                        <span class="txt_imagescommonname">6.Date</span>
                        <div style="background-color:#f3f3f4;margin-top: 7px;">
                            <input type="file" accept="image/*" #datefileInput style="display: none;" (change)="dateFileInput($event)">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span class="txt_attachment">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>

                                <div fxLayout="row" fxLayoutAlign="space-evenly center" class="drop_container_description" ngFileDrop (uploadOutput)="dateUploadOutput($event)">
                                    <div *ngIf="dateflagupload" fxLayout="row" fxLayoutAlign="space-around center">
                                        <div style="text-align: center;" class="txt_drag">{{datefilename}}</div>
                                        <div *ngIf="dateflagupload">
                                            <img src="../../assets/dynamic/sign-delete-icon.png" class="removeicon_header" (click)="dateremove() ">
                                        </div>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="space-around center">

                                        <div class="btn_addimage" (click)="datefileInput.click()">
                                            <span class="txt_addimage">Add Image</span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div fxLayout="row" style="margin-top: 10px;margin-left: 20px;" fxLayoutGap="40px">
                            <mat-form-field appearance="fill">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <div fxLayout="row" fxLayoutAlign="space-around center">
                                <mat-icon>date_range</mat-icon>&nbsp;
                                <span class="txt_adddate">Add&nbsp;Date</span>
                            </div>
                        </div>
                    </div>


                    <!-- Time -->

                    <div style="margin-top: 20px;">
                        <span class="txt_imagescommonname">7.Time</span>
                        <div style="background-color:#f3f3f4;margin-top: 7px;">
                            <input type="file" accept="image/*" #timefileInput style="display: none;" (change)="timeFileInput($event)">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span class="txt_attachment">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                                <div fxLayout="row" fxLayoutAlign="space-evenly center" class="drop_container_description" ngFileDrop (uploadOutput)="timeUploadOutput($event)">
                                    <div *ngIf="timeflagupload" fxLayout="row" fxLayoutAlign="space-around center">
                                        <div style="text-align: center;" class="txt_drag">{{timefilename}}</div>
                                        <div *ngIf="timeflagupload">
                                            <img src="../../assets/dynamic/sign-delete-icon.png" class="removeicon_header" (click)="timeremove() ">
                                        </div>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="space-around center">

                                        <div class="btn_addimage" (click)="timefileInput.click()">
                                            <span class="txt_addimage">Add Image</span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div fxLayout="row" style="margin-top: 10px;margin-left: 20px;" fxLayoutGap="40px">
                            <mat-form-field appearance="fill" style="margin-left: 30px;margin-top: 20px;width: 24.4%;">
                                <mat-label>Time</mat-label>
                                <input matInput type="datetime-local">
                            </mat-form-field>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <mat-icon>date_range</mat-icon>&nbsp;
                                <span class="txt_adddate">Add&nbsp;Time</span>
                            </div>
                        </div>

                    </div>

                    <!-- Attachment -->



                    <div style="margin-top: 20px">
                        <span class="txt_imagescommonname">8.Attachments</span>

                        <div style="background-color:#f3f3f4;margin-top: 7px;">
                            <input type="file" accept="image/*" #attachmentfileInput style="display: none;" (change)="attachmentFileInput($event)">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span class="txt_attachment">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                                <div fxLayout="row" fxLayoutAlign="space-evenly center" class="drop_container_description" ngFileDrop (uploadOutput)="attachmentUploadOutput($event)">
                                    <div *ngIf="attachmentflagupload" fxLayout="row" fxLayoutAlign="space-around center">
                                        <div style="text-align: center;" class="txt_drag">{{attachmentfilename}}</div>
                                        <div *ngIf="attachmentflagupload">
                                            <img src="../../assets/dynamic/sign-delete-icon.png" class="removeicon_header" (click)="attachmentremove() ">
                                        </div>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="space-around center">

                                        <div class="btn_addimage" (click)="attachmentfileInput.click()">
                                            <span class="txt_addimage">Add Image</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-evenly center" class="drop_container_attachment" ngFileDrop (uploadOutput)="attach2UploadOutput($event)">
                            <input type="file" accept="image/*" #attach2fileInput style="display: none;" (change)="attach2FileInput($event)">
                            <div *ngIf="attach2flagupload" fxLayout="row" fxLayoutAlign="space-around center">
                                <div style="text-align: center;" class="txt_drag">{{attach2filename}}</div>
                                <div *ngIf="attach2flagupload">
                                    <img src="../../assets/dynamic/sign-delete-icon.png" class="removeicon_header" (click)="attach2remove() ">
                                </div>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="space-around center">

                                <div class="btn_addimage" (click)="attach2fileInput.click()">
                                    <span class="txt_addimage">Add Image</span>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- Ratings -->


                    <div style="margin-top: 20px;">
                        <span class="txt_imagescommonname">9.Ratings</span>
                        <div style="background-color:#f3f3f4;margin-top: 7px;">
                            <input type="file" accept="image/*" #ratingsfileInput style="display: none;" (change)="ratingsFileInput($event)">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span class="txt_attachment">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                                <div fxLayout="row" fxLayoutAlign="space-evenly center" class="drop_container_description" ngFileDrop (uploadOutput)="ratingsUploadOutput($event)">
                                    <div *ngIf="ratingsflagupload" fxLayout="row" fxLayoutAlign="space-around center">


                                        <div style="text-align: center;" class="txt_drag">{{ratingsfilename}}</div>
                                        <div *ngIf="ratingsflagupload">
                                            <img src="../../assets/dynamic/sign-delete-icon.png" class="removeicon_header" (click)="ratingsremove() ">
                                        </div>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="space-around center">

                                        <div class="btn_addimage" (click)="ratingsfileInput.click()">
                                            <span class="txt_addimage">Add Image</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 10px;margin-left: 20px;">
                            <span class="txt_q1">Q1</span>
                            <input class="form-control" style="width: 30%;" />
                        </div>
                        <div style="margin-left: 40px;margin-top: 10px;">
                            <ngx-stars [readonly]="true" [maxStars]="5" [initialStars]="4" [color]="'gold'"></ngx-stars>
                        </div>
                        <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 10px;margin-left: 20px;">
                            <span class="txt_q1">Q2</span>
                            <input class="form-control" style="width: 30%;" />
                            <div id="fab" class="fabbox">
                                <img src="../../assets/dynamic/add.png" style="width:16px;cursor: pointer;">
                            </div>
                        </div>
                    </div>
                </mat-card>

                <mat-card style="margin: 20px;margin-left:90px;margin-right:90px;box-shadow: none;">
                    <!-- Net Promoter Score -->
                    <div>
                        <span class="txt_imagescommonname">10.Net Promoter Score</span>
                        <div style="background-color:#f3f3f4;margin-top: 7px;">
                            <input type="file" accept="image/*" #netpromofileInput style="display: none;" (change)="netpromoFileInput($event)">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span class="txt_attachment">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                                <div fxLayout="row" fxLayoutAlign="space-evenly center" class="drop_container_description" ngFileDrop (uploadOutput)="netpromoUploadOutput($event)">
                                    <div *ngIf="netpromoflagupload" fxLayout="row" fxLayoutAlign="space-around center">


                                        <div style="text-align: center;" class="txt_drag">{{netpromofilename}}</div>
                                        <div *ngIf="netpromoflagupload">
                                            <img src="../../assets/dynamic/sign-delete-icon.png" class="removeicon_header" (click)="netpromoremove() ">
                                        </div>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="space-around center">

                                        <div class="btn_addimage" (click)="netpromofileInput.click()">
                                            <span class="txt_addimage">Add Image</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 10px;margin-left: 20px;">
                            <span class="txt_q1">Q1</span>
                            <input class="form-control" style="width: 30%;" />
                        </div>
                        <div style="margin-left: 40px;margin-top: 10px;" fxLayout="row" fxLayoutGap="10px">
                            <div class="box_netprompter_score">
                                <span class="netbox_inside">1</span>
                            </div>
                            <div class="box_netprompter_score">
                                <span class="netbox_inside">2</span>
                            </div>
                            <div class="box_netprompter_score">
                                <span class="netbox_inside">3</span>
                            </div>
                            <div class="box_netprompter_score">
                                <span class="netbox_inside">4</span>
                            </div>
                            <div class="box_netprompter_score">
                                <span class="netbox_inside">5</span>
                            </div>
                            <div class="box_netprompter_score">
                                <span class="netbox_inside">6</span>
                            </div>
                            <div class="box_netprompter_score">
                                <span class="netbox_inside">7</span>
                            </div>
                            <div class="box_netprompter_score">
                                <span class="netbox_inside">8</span>
                            </div>
                            <div class="box_netprompter_score">
                                <span class="netbox_inside">9</span>
                            </div>
                            <div class="box_netprompter_score">
                                <span class="netbox_inside">10</span>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 10px;margin-left: 20px;">
                            <span class="txt_q1">Q2</span>
                            <input class="form-control" style="width: 30%;" />
                            <div id="fab" class="fabbox">
                                <img src="../../assets/dynamic/add.png" style="width:16px;cursor: pointer;">
                            </div>
                        </div>
                    </div>
                    <!-- Likert -->
                    <div style="margin-top: 20px;">
                        <span class="txt_imagescommonname">11. Likert</span>
                        <div style="background-color:#f3f3f4;margin-top: 7px;">
                            <input type="file" accept="image/*" #likertfileInput style="display: none;" (change)="likertFileInput($event)">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span class="txt_attachment">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>


                                <div fxLayout="row" fxLayoutAlign="space-evenly center" class="drop_container_description" ngFileDrop (uploadOutput)="likertUploadOutput($event)">
                                    <div *ngIf="likertflagupload" fxLayout="row" fxLayoutAlign="space-around center">
                                        <div style="text-align: center;" class="txt_drag">{{likertfilename}}</div>
                                        <div *ngIf="likertflagupload">
                                            <img src="../../assets/dynamic/sign-delete-icon.png" class="removeicon_header" (click)="likertremove() ">
                                        </div>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="space-around center">

                                        <div class="btn_addimage" (click)="likertfileInput.click()">
                                            <span class="txt_addimage">Add Image</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <table mat-table [dataSource]="likertdataSource" class="mat-elevation-z8" style="box-shadow: none;border: 1px solid #f3f3f3;margin-top: 30px;">


                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #f3f3f3;"> </th>
                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>


                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #f3f3f3;">
                                    <div class="txt_table">

                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="txt_table">
                                        {{element.name}}
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="option1">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #f3f3f3;">
                                    <div class="txt_table">
                                        Option&nbsp;1
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="form-check">
                                        <input class="form-check-input" style="position: relative;" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    </div>
                                    <!-- {{element.option1}}  -->
                                </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="option2">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #f3f3f3;">
                                    <div class="txt_table">
                                        Option&nbsp;2
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="form-check">
                                        <input class="form-check-input" style="position: relative;" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    </div>
                                    <!-- {{element.option2}} -->
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="option3">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #f3f3f3;">
                                    <div class="txt_table">
                                        Option&nbsp;3
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <!-- {{element.option3}}  -->
                                    <div class="form-check">
                                        <input class="form-check-input" style="position: relative;" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="option4">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #f3f3f3;">
                                    <div class="txt_table">
                                        Option&nbsp;4
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <!-- {{element.option3}}  -->
                                    <div class="form-check">
                                        <input class="form-check-input" style="position: relative;" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="addicon">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #f3f3f3;">
                                    <div id="fab" class="fabbox">
                                        <img src="../../assets/dynamic/add.png" style="width:16px;cursor: pointer;">
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.addicon}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="likertColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: likertColumns;"></tr>
                        </table>
                        <div class="border_plusrow">
                            <div id="fab" class="fabbox" style="position: relative;left: 50%;margin-top: 10px;">
                                <img src="../../assets/dynamic/add.png" style="width:16px;cursor: pointer;">
                            </div>
                        </div>


                    </div>
                </mat-card>
                <div class="btn_addimage" style="margin: auto;text-align: center;width: 26%;">
                    <span class="txt_addimage">Save</span>
                </div>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>

</div>